

.custom-card {
    height: 35px; 
  }
  
  .custom-card-image {
    height: 150px;
    object-fit: cover;
  }
  
  .custom-card-title {
    font-size: 1.5rem; 
    margin-bottom: 10px; }
  
  .custom-card-text {
    font-size: 1rem; 
    margin-bottom: 5px  }
  
  .custom-card-button {
    margin-top: 10px;
  }
  