/* src/components/UserCard.css */

.custom-card {
    height: 35px; /* Set a fixed height for the card */
  }
  
  .custom-card-image {
    height: 150px; /* Set a reduced height for the image */
    object-fit: cover; /* Ensure the image covers the container */
  }
  
  .custom-card-title {
    font-size: 1.5rem; /* Set a larger font size for the title */
    margin-bottom: 10px; /* Add some bottom margin */
  }
  
  .custom-card-text {
    font-size: 1rem; /* Set a font size for the text */
    margin-bottom: 5px; /* Add some bottom margin */
  }
  
  .custom-card-button {
    margin-top: 10px; /* Add top margin to the button */
  }
  